In [1]:
import pandas as pd
import geopandas as gpd
from keplergl import KeplerGl

In [2]:
gdf = gpd.read_file('data\parking_2015.geojson')
gdf.head()

,anon_ticket_number,issue_datetime,anon_plate_id,violation_desc,fine,issuing_agency,lat,lon,geometry
0,4674379,01/01/2015 00:00,934383,BLOCKNG MASS TRANSIT,101,SEPTA,39.975789,-75.163471,POINT (-75.16347 39.97579)
1,4707189,01/01/2015 00:00,1065037,BLOCKNG MASS TRANSIT,101,SEPTA,39.975789,-75.163471,POINT (-75.16347 39.97579)
2,4584526,01/01/2015 00:01,1262953,SIDEWALK CC,76,POLICE,39.954927,-75.140262,POINT (-75.14026 39.95493)
3,4669046,01/01/2015 00:01,47082,SIDEWALK CC,76,POLICE,39.954927,-75.140262,POINT (-75.14026 39.95493)
4,4588341,01/01/2015 00:02,1509569,SIDEWALK CC,76,POLICE,39.954927,-75.140262,POINT (-75.14026 39.95493)

In [3]:
nbs = gpd.read_file(r'data\neighbrhoods.geojson')
nbs.head()

,NAME,LISTNAME,MAPNAME,Shape_Leng,Shape_Area,NUMPOINTS,geometry
0,BRIDESBURG,Bridesburg,Bridesburg,27814.546521,4.458626e+07,149.0,"MULTIPOLYGON (((2719789.837 256235.538, 271981..."
1,BUSTLETON,Bustleton,Bustleton,48868.458365,1.140504e+08,228.0,"MULTIPOLYGON (((2733378.171 289259.945, 273281..."
2,CEDARBROOK,Cedarbrook,Cedarbrook,20021.415802,2.487174e+07,129.0,"MULTIPOLYGON (((2685267.950 279747.336, 268527..."
3,CHESTNUT_HILL,Chestnut Hill,Chestnut Hill,56394.297195,7.966498e+07,7783.0,"MULTIPOLYGON (((2678490.151 284400.400, 267851..."
4,EAST_FALLS,East Falls,East Falls,27400.776417,4.057689e+07,3715.0,"MULTIPOLYGON (((2686769.727 263625.367, 268692..."

In [4]:
gdf.crs == nbs.crs

False

In [5]:
nbs = nbs.to_crs(epsg=4326)

In [6]:
gdf.crs == nbs.crs

True

In [7]:
location_join = gpd.sjoin(gdf, nbs, op='within')

In [8]:
location_join.head()

,anon_ticket_number,issue_datetime,anon_plate_id,violation_desc,fine,issuing_agency,lat,lon,geometry,index_right,NAME,LISTNAME,MAPNAME,Shape_Leng,Shape_Area,NUMPOINTS
0,4674379,01/01/2015 00:00,934383,BLOCKNG MASS TRANSIT,101,SEPTA,39.975789,-75.163471,POINT (-75.16347 39.97579),81,NORTH_CENTRAL,North Central,North Central,19020.10092,1.984785e+07,13938.0
1,4707189,01/01/2015 00:00,1065037,BLOCKNG MASS TRANSIT,101,SEPTA,39.975789,-75.163471,POINT (-75.16347 39.97579),81,NORTH_CENTRAL,North Central,North Central,19020.10092,1.984785e+07,13938.0
70,4711899,01/01/2015 02:31,462325,BLOCKING DRIVEWAY,51,POLICE,39.977186,-75.163167,POINT (-75.16317 39.97719),81,NORTH_CENTRAL,North Central,North Central,19020.10092,1.984785e+07,13938.0
80,4821765,01/01/2015 03:50,784437,FIRE HYDRANT,76,POLICE,39.982581,-75.164014,POINT (-75.16401 39.98258),81,NORTH_CENTRAL,North Central,North Central,19020.10092,1.984785e+07,13938.0
101,4554244,01/01/2015 08:15,634127,SIDEWALK,51,PENN,39.983382,-75.164248,POINT (-75.16425 39.98338),81,NORTH_CENTRAL,North Central,North Central,19020.10092,1.984785e+07,13938.0

In [9]:
location_join.sample(10)

,anon_ticket_number,issue_datetime,anon_plate_id,violation_desc,fine,issuing_agency,lat,lon,geometry,index_right,NAME,LISTNAME,MAPNAME,Shape_Leng,Shape_Area,NUMPOINTS
15229,4842242,07/01/2015 08:38,405030,SCHOOL ZONE,36,PPA,39.972438,-75.126983,POINT (-75.12698 39.97244),86,FISHTOWN,Fishtown - Lower Kensington,Fishtown - Lower Kensington,25973.395800,3.360583e+07,8573.0
18769,4580382,08/01/2015 08:56,1509239,STOPPING PROHIBITED,51,PPA,39.975168,-75.158655,POINT (-75.15866 39.97517),81,NORTH_CENTRAL,North Central,North Central,19020.100920,1.984785e+07,13938.0
35402,4561418,13/01/2015 02:32,1543410,EXPIRED INSPECTION,41,POLICE,39.965820,-75.196750,POINT (-75.19675 39.96582),134,MANTUA,Mantua,Mantua,25053.449835,2.292278e+07,3917.0
36978,4540977,13/01/2015 12:38,1391365,METER EXPIRED CC,36,PPA,39.953648,-75.157078,POINT (-75.15708 39.95365),93,CENTER_CITY,Center City East,Center City East,10358.090098,4.098334e+06,19682.0
83645,4593851,24/01/2015 18:58,223440,METER EXPIRED,26,PPA,40.006918,-75.151763,POINT (-75.15176 40.00692),68,FRANKLINVILLE,Franklinville,Franklinville,17874.535081,1.418979e+07,10600.0
100190,4540743,30/01/2015 12:09,267557,STOP PROHIBITED CC,76,PPA,39.952814,-75.179592,POINT (-75.17959 39.95281),99,RITTENHOUSE,Rittenhouse,Rittenhouse,16365.270958,1.462096e+07,104394.0
51361,4585084,16/01/2015 14:44,1416107,METER EXPIRED CC,36,PPA,39.955505,-75.154251,POINT (-75.15425 39.95551),92,CHINATOWN,Chinatown,Chinatown,4936.524617,1.360165e+06,10901.0
49624,4623484,16/01/2015 11:13,1542686,METER EXPIRED CC,36,PPA,39.947806,-75.151888,POINT (-75.15189 39.94781),91,OLD_CITY,Old City,Old City,14323.371697,1.255444e+07,49234.0
103970,4505909,31/01/2015 01:20,1503175,FIRE HYDRANT,76,POLICE,39.925712,-75.183667,POINT (-75.18367 39.92571),156,WEST_PASSYUNK,West Passyunk,West Passyunk,10499.291848,6.494799e+06,1824.0
23292,4774479,09/01/2015 11:39,400338,OVER TIME LIMIT,26,PPA,39.929070,-75.172027,POINT (-75.17203 39.92907),155,NEWBOLD,Newbold,Newbold,10052.570885,5.876853e+06,11969.0

In [10]:
def count_numpoints(joined, polygons, merge_on):
    grouped = joined.groupby(merge_on).size()
    df = grouped.to_frame().reset_index()
    df.columns = [merge_on, 'Count']
    return polygons.merge(df, on=merge_on, how='outer')

numpoints_per_neigh = count_numpoints(location_join, nbs, 'NAME')
numpoints_per_neigh.head()

,NAME,LISTNAME,MAPNAME,Shape_Leng,Shape_Area,NUMPOINTS,geometry,Count
0,BRIDESBURG,Bridesburg,Bridesburg,27814.546521,4.458626e+07,149.0,"MULTIPOLYGON (((-75.06773 40.00540, -75.06765 ...",22.0
1,BUSTLETON,Bustleton,Bustleton,48868.458365,1.140504e+08,228.0,"MULTIPOLYGON (((-75.01560 40.09487, -75.01768 ...",59.0
2,CEDARBROOK,Cedarbrook,Cedarbrook,20021.415802,2.487174e+07,129.0,"MULTIPOLYGON (((-75.18848 40.07273, -75.18846 ...",10.0
3,CHESTNUT_HILL,Chestnut Hill,Chestnut Hill,56394.297195,7.966498e+07,7783.0,"MULTIPOLYGON (((-75.21221 40.08604, -75.21210 ...",716.0
4,EAST_FALLS,East Falls,East Falls,27400.776417,4.057689e+07,3715.0,"MULTIPOLYGON (((-75.18478 40.02837, -75.18426 ...",553.0

In [11]:
m = KeplerGl(height=900)
m.add_data(data=numpoints_per_neigh, name='choropleth_map')
m

KeplerGl(data={'choropleth_map': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, …

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter